body {
    font-size:1.2em;
    background-color: #222;
    color: lightslategrey;
    border-color: #e6e6e6;
}

.content {
    margin: auto;
}

label {
    padding-right: 10px;
    font-size: 1.2rem;
}

progress {
    -webkit-appearance: none;
}
