body {
    font-size: clamp(2rem, 5vw+ 1rem, 7rem);
    background-color: #222;
    color: lightslategrey;
    border-color: #e6e6e6;
    width:800px;
}

.content {
    margin: auto;
    white-space: nowrap;
}

label {
    padding-right: 10px;
    font-size: 3.2rem;
}

progress {
    -webkit-appearance: progress-bar;
    width:800px;
    height:100px;
}
