body {
    font-size:1.2em;
    background-color: #222;
    color: lightslategrey;
    border-color: #e6e6e6;
    width:800px;
}

.content {
    margin: auto;
    white-space: nowrap;
}

label {
    padding-right: 10px;
    font-size: 3.2rem;
}

/* Style for the progress container */
progress {
    -webkit-appearance: none; /* Remove default styling */
    appearance: none;
    width: 800px;
    height: 30px;
    background-color: #333; /* Background color for the progress bar */
    border-radius: 30px; /* Rounded edges for the container */
    overflow: hidden; /* Ensure rounded corners are respected */
}

/* Style for the progress value */
progress::-webkit-progress-bar {
    background-color: #333; /* Background color */
    border-radius: 30px; /* Rounded edges for the progress bar */
}

progress::-webkit-progress-value {
    background-color: #EF8354; /* Color of the progress */
    border-radius: 30px; /* Rounded edges for the progress value */
}

/* For Firefox */
progress::-moz-progress-bar {
    background-color: #EF8354; /* Color of the progress */
    border-radius: 30px; /* Rounded edges for the progress value */
}

/* For Edge */
progress::-ms-fill {
    background-color: #333; /* Background color */
    border-radius: 30px; /* Rounded edges for the container */
}

progress::-ms-fill:before {
    background-color: #EF8354; /* Color of the progress */
    border-radius: 30px; /* Rounded edges for the progress value */
}
